@import "tailwindcss";

:root {
  --bg-primary: #26262e;
  --bg-secondary: #35353f;
  --accent-teal: #6A7EFC;
  --accent-pink: #FF5656;
  --text-primary: #EDF2F6;
  --text-muted: #8e8e9e;
  --border: #42424e;
}